* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Rubik', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0px;  
    background-color: #FFFFFF;
    width:100vw;
}



.logo {
    display: flex;
    width: 155px;
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;

}


.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.nav-items {
    color: #4a4a4a;
    text-decoration: none;
    padding: 20px;

}


.main {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color:#3CDBC0;
    flex-direction: row;  
    
}

.h1 {
    font-family: 'Rubik', sans-serif;
    color:#FFFFFF;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    max-width: 10ch;
    
}

@media (min-width:768px) {

    .h1 {
        font-size: 40px;
    }
    .list {
        justify-content: flex-end;
        flex-direction: row;
    }
    .nav-items {
        font-size:16px;
        text-transform: capitalize;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
    }

    }
